.idea/
__pycache__/
*.pyc
.vscode/
# Local binaries - do not track
kubectl
minikube-linux-amd64
.env

# Distribution / packaging
build/
dist/
*.egg-info/

# Byte-compiled / optimized / DLL files
*.py[cod]
*.so

# Testing
.pytest_cache/
.coverage

kubernetes/

# Airflow runtime files - DO NOT COMMIT
airflow-home/airflow.db
airflow-home/airflow.cfg
airflow-home/airflow-webserver.pid
airflow-home/webserver_config.py
airflow-home/logs/
airflow-home/=*

# All log directories
logs/
**/logs/
*.log
