apiVersion: apps/v1
kind: Deployment
metadata:
  name: lambda-db-setup
  namespace: dev
  labels:
    app: lambda
spec:
  replicas: 3
  selector:
    matchLabels:
      app: lambda
  template:
    metadata:
      labels:
        app: lambda
    spec:
      containers:
        - name: 	lambda-db-setup-ctr
          image: 	05261977/lambda-inspired-platform-db-setup:latest
          command: ["python", "consumer.py"]
          envFrom:
            - secretRef:
                name: database-config