apiVersion: apps/v1
kind: Deployment
metadata:
  name: lambda-producer-stream
  namespace: dev
  labels:
    app: lambda
spec:
  replicas: 3
  selector:
    matchLabels:
      app: lambda
  template:
    metadata:
      labels:
        app: lambda
    spec:
      containers:
        - name: lambda-producer-ctr
          image: 05261977/lambda-inspired-platform-producer
          command: [ "python", "producer.py"]
          envFrom:
            - secretRef:
                name: database-config